<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-toolbar color="primary"> <span><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
      style="width: 85px;text-shadow: 2px 2px;" alt="logo"> Please login to enter into the site</span></mat-toolbar>
    <form [formGroup]="loginForm"  fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Phone Number" [disabled]="clicked"  formControlName="Username">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [disabled]="clicked"  placeholder="password" formControlName="Password">
      </mat-form-field>

      <button mat-button type="button" [disabled]="clicked"  (click)="onSubmit()">Login</button>
    </form>

    <mat-spinner *ngIf="clicked">
    </mat-spinner>

  </mat-card>
</div>